<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/estilo.css">
	<title>Contacto</title>
	
</head>
<body>
	<header class="navBack">
		<div id="top">
			<img class="logo" src="../assets/img/logotipo-minimo-retrato-mujer-linea-estudio-salon-belleza-manos-labios-rojos-manicura_489094-170.webp" alt="logo sitio">


			<p><b>Maquillaje y Manicura</b></p>
		<p><b>BARBI</b></p></div>	
		
		
		
		
			<nav>
			<ul class="menu">
			    <li class="item"><a href="../index.html">Inicio</a></li>
			    <li class="item"><a href="../views/nosotros.html">Conoce Mas</a></li>
			    <li class="item"><a href="../views/servicios.html">Servicios</a>
			        <ul class="submenu">
			            <li class="sub_i"><a href="../views/servicios.html">Maquillajes</a></li>
			            <li class="sub_i"><a href="../views/servicios.html">Uñas esculpidas</a></li>
						<li class="sub_i"><a href="../views/servicios.html">Esmaltado Semipermanente</a></li>
			        </ul>
			    </li>
			
			    <li class="item"><a href="../views/contacto.html">Contacto</a></li>
			</ul> 
		</nav>
	</header>
	<main>
		
	<body>  
			  
			  
	<div class="contact_form">
			
	<div class="formulario">      
	 <h1>Formulario de contacto</h1>
	<h3>Escríbime y en breve me pondre en contacto contigo</h3>
			
			
		<form action="submeter-formulario.php" method="post">       
			
						
	<p>
	 <label for="nombre" class="colocar_nombre">Nombre
	<span class="obligatorio">*</span>
	 </label>
	<input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre">
		</p>
	
	<br>
	
	<p>
	  <label for="email" class="colocar_email">Email
	<span class="obligatorio">*</span>
	 </label>
	<input type="email" name="introducir_email" id="email" required="obligatorio" placeholder="Escribe tu Email">
		</p>

	<br>					
	<p>
	  <label for="telefone" class="colocar_telefono">Teléfono
	 </label>
	<input type="tel" name="introducir_telefono" id="telefono" placeholder="Escribe tu teléfono">
	</p>    
	
	<br>

	<div>
		<label for="nacimiento">Fecha de nacimiento</label>
		<input type="date" name="nacimiento" id="nacimiento" placeholder="Fecha de nacimiento"> 
	 </div>  
	
	<br>

	<p>
	 <label for="asunto" class="colocar_asunto">Asunto
	<span class="obligatorio">*</span>
	 </label>
	<input type="text" name="introducir_asunto" id="assunto" required="obligatorio" placeholder="Escribe un asunto">
	</p>    
	
	<br>


	<p>
	 <label for="mensaje" class="colocar_mensaje">Mensaje
	<span class="obligatorio">*</span>
	 </label>                     
	<textarea name="introducir_mensaje" class="texto_mensaje" id="mensaje" required="obligatorio" placeholder="Deja aquí tu comentario..."></textarea> 
	</p>                    
	
	<br>

	<div>
		<p> ¿Queres recibir notificaciones? </p>
		<br>
		<input  id="Primera consulta-opt-01" type="radio" value="S" name="Primera">
		<label for="Primera-opt-01">SI</label>
		<input id="primera consulta-opt-02" type="radio" value="N" name="primera">
		<label for="primera-opt-02">NO </label>
	</div>

	<br>

	<button type="submit" name="enviar_formulario" id="enviar"><p>Enviar</p></button>
	
	<br>
<br>
	<p class="aviso">
	  <span class="obligatorio"> * </span>los campos son obligatorios.
	</p>          
						
	 </form>
	</div>  
	 </div>
	<br>
	<br>
	 <footer style="background-color: white ;">
		<div class="redes">
			<figure>
				<a target="_blank" href="https://www.instagram.com/barbiimiro/"> <img  class="insta" src="../assets/img/insta.jpg" alt="Instagram"> </a>
			</figure>
			<figure>
				<a target="_blank" href="https://wa.me/5491167330891?text=Bienvenido/a%20d%C3%A9jame%20tu%20consulta%20que%20la%20responder%C3%A9%20a%20la%20brevedad." > <img class="whatsaap" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/479px-WhatsApp.svg.png" alt="whatsaap"> </a>
			</figure>
		</div>
	 </footer>
			</body>
			</html>





		
	</main>
	<footer>
		<h5>Todos los derechos reservados R® </h5>
	</footer>
</body>
</html>