<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Conoce Mas</title>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<header class="navBack">
		<div id="top">
			<img class="logo" src="../assets/img/logotipo-minimo-retrato-mujer-linea-estudio-salon-belleza-manos-labios-rojos-manicura_489094-170.webp" alt="logo sitio">

			<p><b>Maquillaje y Manicura</b></p>
		<p><b>BARBI</b></p></div>	
		<nav>
			<ul class="menu">
			    <li class="item"><a href="../index.html">Inicio</a></li>
			    <li class="item"><a href="../views/nosotros.html">Conoce Mas</a></li>
			    <li class="item"><a href="../views/servicios.html">Servicios</a>
			        <ul class="submenu">
			            <li class="sub_i"><a href="../views/servicios.html">Maquillajes</a></li>
			            <li class="sub_i"><a href="../views/servicios.html">Uñas esculpidas</a></li>
						<li class="sub_i"><a href="../views/servicios.html">Esmaltado Semipermanente</a></li>
			        </ul>
			    </li>
			    <li class="item"><a href="../views/contacto.html">Contacto</a></li>
			</ul> 
		</nav>
	</header>
	<main>
		<h2>Conoce Mas</h2>
		<p> Interesada por la industria del maquillaje realice una maestria en maquillaje de Maquillaje Profesional en ACP (Alta Capacitacion Profesional) dentro del cual me perfeccione en maquillaje de 15 , novias, social,caracterizacion, permanente, color y estencion de pestañas, maquillaje de epoca, entre otros.  </p>
		<br>

		<p>Tambien empecé a sentirme cada vez más atraída por el mundo de la  manicura por lo que realice un curso de Esmaltado semipermanente y un curso de uñas en gel y acrilico.</p>

		<br>
		<br>
		
		<p>Espero que les sea de agrado esta pagina ya que es saltito más de ese crecimiento que sigo buscando dia a dia.
			</p>
		<br>
		<br>
		<br>

			<p>Abrazos Virtuales.</p>
			<br>
			<br>
			
			
	</main>
	<footer>
		<h5>Todos los derechos reservados R® </h5>
	</footer>
</body>
</html>