<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Servicios</title>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<header class="navBack">
		<div id="top">
			<img class="logo" src="../assets/img/logotipo-minimo-retrato-mujer-linea-estudio-salon-belleza-manos-labios-rojos-manicura_489094-170.webp" alt="logo sitio">

			<p><b>Maquillaje y Manicura</b></p>
		<p><b>BARBI</b></p></div>	
		<nav>
			<ul class="menu">
			    <li class="item"><a href="../index.html">Inicio</a></li>
			    <li class="item"><a href="../views/nosotros.html">Conoce Mas</a></li>
			    <li class="item"><a href="../views/servicios.html">Servicios</a>
			        <ul class="submenu">
			            <li class="sub_i"><a href="../views/servicios.html">Maquillajes</a></li>
			            <li class="sub_i"><a href="../views/servicios.html">Uñas esculpidas</a></li>
						<li class="sub_i"><a href="../views/servicios.html">Esmaltado Semipermanente</a></li>
			        </ul>
			    </li>
			    <li class="item"><a href="../views/contacto.html">Contacto</a></li>
			</ul> 
		</nav>
	</header>
	<main>
		<h2>Página de Servicios</h2>

 
<h2> MAQUILLAJE</h2>
<ul>
	<li>Maquillaje Social</li>
	<li>Maquillaje de Novias</li>
	<li>Maquillaje de 15 años</li>
	<li>Maquillaje madrinas</li>
	<li>Permanente y Tintura de Pestañas</li>
	<li>Maquillaje artistico</li>
	<li>MAquillaje para eventos</li>
	<li>Maquillaje para niños/as</li>
	<li>Maquillaje  para hombres</li>
</ul>

<br><br><br><br><br>
<h2> MANICURA</h2>
<ul>
	<li>Preparacion de manos</li>
	<li>Nail Art</li>
	<li>Esculpidass Codffin</li>
	<li>Eesculpidas Almendra</li>
	<li>Esculpidas Stiletto</li>
	<li>Esmaltado Semipermanente</li>

</ul>
<br><br><br><br><br>
	</main>
	<footer>
		<h5>Todos los derechos reservados R® </h5>
	</footer>
</body>
</html>